body {
  background-color: slategrey;
}
nav {
  background-color: lightyellow;
}
header {
  background-color: lightblue;
}
div {
  background-color: springgreen;
}
footer{
  background-color: lightpink;
}