body {
  background-color: slategrey;
}

nav {
  background-color: lightyellow;
}

header {
  background-color: lightblue;
}

div {
  border: 1px solid black;
}

.text-box{
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: palegoldenrod
}

.card-container {
height: 50px;
display: flex;
align-items: center;
}

.button-container{
height: 100px;
display: flex;
justify-content: space-around;
align-items: center;
background-color: aquamarine;
}

#choice-one{
  height: 100px;
  width: 100px;
}

#choice-two{
  height: 100px;
  width: 100px;
}

footer{
  background-color: lightpink;
}