.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #bde0fe;
}

body {
  background-color: slategrey;
}

nav {
  background-color: #e63946;
}

header {
  background-color: #f4a261;
}

/* div {
  border: 1px solid black;
} */

.text-box{
  height: 120px;
  width: 700px;
  display: flex;
  justify-content: center;

  align-items: center;
  text-align: center;
  background-color: #bde0fe;
}

.image{
  height: 300px;
  width: 500px;
}

.button-container{
  height: 125px;
  background-color: #bde0fe;;
  display: flex;
  justify-content: space-evenly;
}

button {
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  background-color: transparent;
  border: 7px solid rgba(0, 0, 0, .1);
  width: 100px;
  height: 100px;
  border-radius: 33%; 
}

button:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background-color: #f4a261;;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #f1faee;
}